<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign in</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="form-container">
		<h2>Sign in</h2>

		<div th:if="${errorMessage}" class="error-message">
			<p th:text="${errorMessage}"></p>
		</div>

		<div th:if="${logoutMessage}" class="success-message">
			<p th:text="${logoutMessage}"></p>
		</div>

		<div th:if="${successRegistration}" class="success-message">
			<p th:text="${successRegistration}"></p>
		</div>

		<div th:if="${param.resetSuccess}" class="success-message">
			<p>Your password has been successfully changed. You can now sign in with your new password.</p>
		</div>

		<form action="/blog-SSU/auth/login" method="post">
			<label>Email</label> <input type="email" name="username"
				required> <label>Password</label> <input type="password"
				name="password" required>
			<button type="submit">Login</button>
		</form>
		<p>
			<a href="/blog-SSU/password/forgot">Forgot password?</a>
		</p>
		<p>
			<a href="/blog-SSU/auth/register">Sign up</a>
		</p>
		<p>
			<a href="/blog-SSU">Home</a>
		</p>
	</div>
</body>
</html>