<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="profile-container">
        <h1 class="profile-header">Your profile</h1>

        <div th:if="${param.success}" class="success-message">
            <p>Data updated successfully!</p>
        </div>

        <div class="profile-info">
            <div class="profile-card">
                <h3>Personal info</h3>
                <p><strong>Name:</strong> <span th:text="${user.username}"></span></p>
                <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
                <p><strong>Gender:</strong> <span
						th:text="${user.gender == 'MALE' ? 'Чоловіча' : user.gender == 'FEMALE' ? 'Жіноча' : '-'}"></span>
				</p>
            </div>

            <div class="profile-card">
                <h3>Udpdate info</h3>
                <form class="profile-form" th:action="@{/blog-SSU/profile}" method="post">
                   	<label for="firsname">First name:</label>
                    <input type="text" id="firsname" name="firstName" th:value="${user.firstName}">
                    <label for="lastname">Last name:</label>
					<input type="text" id="lastname" name="lastName" th:value="${user.lastName}">
					<label for="age">Age:</label>
					<input type="text" id="age" name="age" th:value="${user.age}">
					<label for="gender">Gender:</label>
                    <select id="gender" name="gender">
                        <option value="MALE" th:selected="${user.gender == 'MALE'}">Male</option>
                        <option value="FEMALE" th:selected="${user.gender == 'FEMALE'}">Female</option>
                    </select>
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
        <a href="/blog-SSU" class="back-btn">← Back</a>
    </div>
</body>
</html>