<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Enter new password</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<div class="container">
		<h1>Enter new password</h1>

		<div th:if="${param.error}" class="error-message">
			<p>Password reset error. Token is invalid or already used.</p>
		</div>

		<form action="/blog-SSU/password/reset" method="post">
			<input type="hidden" name="token" th:value="${token}"> <label
				for="newPassword">New password:</label> <input type="password"
				id="newPassword" name="newPassword" required>
			<button type="submit">Change password</button>
		</form>
	</div>
</body>
</html>